<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table style="width:50%">
		<thead>
			<tr>
				<th style="text-align:center">Order Number</th>
				<th style="text-align:center">Product Name</th>
				<th style="text-align:center">Price</th>
				<th style="text-align:center">Quantity</th>
			</tr>	
		</thead>
		<tbody>
			<tr th:if="${orders.empty}">
				<td style="text-align:center" colspan="4"> No Orders Available</td>
			</tr>
			<tr th:each="order : ${orders}">
				<td style="text-align:center"><h5 th:text="${order.orderNo}"></h5></td>
				<td style="text-align:center"><h5 th:text="${order.productName}"></h5></td>
				<td style="text-align:center"><h5 th:text="${order.price}"></h5></td>
				<td style="text-align:center"><h5 th:text="${order.quantity}"></h5></td>
		</tbody>
	</table>
</body>
</html>